####################################################################################
# Machine type: OrangeStorm Giga
# Current configuration version: V1.0
# Date：2023-12-12
####################################################################################

[mcu]
canbus_uuid: 2bb2b8acccaa
