####################################################################################
# Machine type: OrangeStorm Giga
# Current configuration version: V1.2
# Date：2024-4-20
####################################################################################

[include plr.cfg]
[include znp_mcu.cfg]
[include kcm.cfg]
[include chroma_head.cfg]
#[include input_shaper.cfg]
[include cp_macro.cfg]
[include bed_mesh.cfg]





[duplicate_pin_override]
pins:PC0

[stepper_x]
step_pin:PC14
dir_pin:PC13
enable_pin:!PC15
microsteps: 16
rotation_distance: 59.8519
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin:PD0
position_min: -5
position_endstop:815
position_max: 815.5
homing_speed:80
homing_retract_dist:10
second_homing_speed:10
homing_positive_dir:true
step_pulse_duration:0.000002


[stepper_y]
step_pin:PE3
dir_pin:PE2
enable_pin:!PE4
microsteps:16
rotation_distance: 59.8519
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
gear_ratio: 50:20
endstop_pin:PC12
position_min: -1.0
position_endstop:805.0
position_max:805.5
homing_speed:80
homing_retract_dist:10
second_homing_speed:10
homing_positive_dir:true
step_pulse_duration:0.000002

[stepper_z]
step_pin:PB8
dir_pin:PB7
enable_pin: !PB9
microsteps: 16
rotation_distance: 8
gear_ratio: 50:20
full_steps_per_rotation: 200
#endstop_pin:PC11
#position_endstop:0
endstop_pin: probe:z_virtual_endstop
position_max: 1020  # Limit travel: 1050
position_min: -12
homing_speed: 10
second_homing_speed: 3
homing_retract_dist: 5
homing_positive_dir:false

[stepper_z1]
step_pin:PB3
dir_pin:PD7
enable_pin: !PB4
microsteps: 16
rotation_distance: 8
gear_ratio: 50:20
full_steps_per_rotation: 200
#endstop_pin:PC10


#[verify_heater extruder]
#max_error: 30
#check_gain_time:10
#hysteresis: 10
#heating_gain: 2

[heater_bed]
heater_pin:PA3
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PC3
smooth_time: 0.1
control = pid
pid_Kp  = 70.591 
pid_Ki  = 1.055 
pid_Kd  = 1180.632
min_temp: 0
max_temp: 130

[verify_heater heater_bed]
max_error: 600
check_gain_time:120
hysteresis: 10
heating_gain: 2

[heater_generic heater_bed1]
gcode_id:M108
heater_pin:PA2
max_power:1.0
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin:PC2
smooth_time: 0.1
control = pid
pid_Kp  = 70.591 
pid_Ki  = 1.055 
pid_Kd  = 1180.632
min_temp: 0
max_temp: 130

[verify_heater heater_bed1]
max_error: 600
check_gain_time:120
hysteresis: 10
heating_gain: 2

[heater_generic heater_bed2]
gcode_id:M105
heater_pin:PA1
max_power:1.0
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin:PC1
smooth_time: 0.1
control = pid
pid_Kp  = 70.591 
pid_Ki  = 1.055 
pid_Kd  = 1180.632
min_temp: 0
max_temp: 130

[verify_heater heater_bed2]
max_error: 600
check_gain_time:120
hysteresis: 10
heating_gain: 2

[heater_generic heater_bed3]
gcode_id:M110
heater_pin:PA0
max_power:1.0
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin:PC0
smooth_time: 0.1
control = pid
pid_Kp  = 70.591 
pid_Ki  = 1.055 
pid_Kd  = 1180.632
min_temp: 0
max_temp: 130

[verify_heater heater_bed3]
max_error: 600
check_gain_time:120
hysteresis: 10
heating_gain: 2

[printer]
kinematics:cartesian
max_velocity: 500
max_accel: 5000
#max_accel_to_decel: 5000
max_z_velocity: 20
max_z_accel: 200
square_corner_velocity: 5.0


#####################################################################
# 	Probe
#####################################################################
#[probe]
#pin:mcu1:gpio11
#x_offset: -14.0
#y_offset: -29.5
#z_offset: -20
#speed: 5.0
#samples: 2
#samples_result: median
#sample_retract_dist: 3.0
#samples_tolerance: 0.05
#samples_tolerance_retries:4

  

#'[filament_switch_sensor fila]
#pause_on_runout: True
#runout_gcode:
#           SET_FILAMENT_SENSOR SENSOR=fila ENABLE=1
#event_delay: 3.0
#pause_delay: 0.5
#switch_pin: PD4

#Z_TILT_ADJUST
[z_tilt]
z_positions: 
    -50,400
    980,400
points: 
    200,400
    600,400
speed: 50
horizontal_move_z: 15
retries: 5
retry_tolerance: 0.01

########################################
# TMC UART configuration
########################################
[tmc2209 stepper_x]
uart_pin: PE5
run_current: 1.4  
hold_current: 1.0
interpolate: False
#interpolate: True
#stealthchop_threshold:99999
# driver_SGTHRS:80
# diag_pin:^PD0

[tmc5160 stepper_y]
cs_pin:PE0
spi_software_sclk_pin:PE12
spi_software_mosi_pin:PE14
spi_software_miso_pin:PE13
spi_speed:200000
run_current: 2.8
hold_current: 1.5
sense_resistor: 0.033
interpolate:False
#interpolate:True
#stealthchop_threshold:99999

[tmc2209 stepper_z]
uart_pin: PB5
run_current: 1.0
hold_current: 1.0
#interpolate: True
#stealthchop_threshold: 120

[tmc2209 stepper_z1]
uart_pin: PD5
run_current: 1.0
hold_current: 1.0
#interpolate: True
#stealthchop_threshold: 120




[force_move]
enable_force_move : true



[virtual_sdcard]
path: /home/mks/printer_data/gcodes



 
[display_status]


[delayed_gcode KINEMATIC_POSITION]
initial_duration:0.5
gcode:
      SET_KINEMATIC_POSITION X=110
      SET_KINEMATIC_POSITION Y=110
      SET_KINEMATIC_POSITION Z=0


[gcode_arcs]

[exclude_object]

[controller_fan controller_fan1]
pin: PB0
fan_speed: 1.0
idle_timeout: 3600

####################################################################
#	PAUSE / CANCEL_PRINT
#####################################################################


#####################################################################

#####################################################################
# 	Input Shaper
#####################################################################
#[input_shaper]
#shaper_freq_x: 66.66    
#shaper_freq_y: 42.05   
#shaper_type_x: mzv
#shaper_type_y: ei


#[resonance_tester]
#accel_chip: adxl345
#min_freq: 5
#max_freq: 90
#accel_per_hz: 150
#hz_per_sec: 2
#probe_points:
#probe_points:
#    400, 400, 50
#####################################################################


#####################################################################
#	Homing and Gantry Adjustment Routines
#####################################################################
[idle_timeout]
timeout: 7200
gcode:
  {% if printer[printer.toolhead.extruder].temperature > 160 %}
  {action_respond_info("Extruder powered down on idle timeout.")}
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET={140}
  SET_IDLE_TIMEOUT TIMEOUT=259200
  {% else %}
  TURN_OFF_HEATERS
  {% endif %}


[safe_z_home]
home_xy_position: 605,205
speed: 150
z_hop: 10           
z_hop_speed: 5

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*#
#*# [extruder]
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 49.2
#*# shaper_type_y = mzv
#*# shaper_freq_y = 27.8
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.073500, -0.169500, -0.278500, -0.168000, 0.050000, 0.140000, 0.132000, -0.012000, -0.065500, -0.049000
#*# 	  -0.057000, -0.167000, -0.205500, -0.168500, -0.055000, 0.028000, -0.015500, -0.095500, -0.087500, -0.011000
#*# 	  -0.128500, -0.106000, -0.010000, -0.098500, -0.140000, -0.085500, -0.063000, -0.084500, -0.019000, 0.091000
#*# 	  -0.075500, -0.023000, 0.077000, 0.023000, -0.044000, 0.017000, 0.056500, 0.031500, 0.084500, 0.176500
#*# 	  -0.063000, -0.015500, 0.073000, 0.060500, 0.036500, 0.129000, 0.152000, 0.112500, 0.098500, 0.107000
#*# 	  0.047500, -0.001000, -0.035500, -0.033500, -0.013000, 0.070000, 0.121500, 0.234000, 0.116500, 0.034000
#*# 	  -0.052500, -0.059500, -0.015500, -0.016500, 0.000000, 0.066500, 0.095500, 0.130000, 0.067500, 0.026000
#*# 	  -0.117500, -0.087000, 0.044000, 0.009000, 0.010500, 0.091000, 0.034500, 0.053000, 0.002500, 0.050500
#*# 	  -0.081000, -0.077500, 0.012000, 0.005000, -0.024000, 0.037000, -0.022500, -0.029000, -0.074000, -0.021000
#*# 	  0.033000, -0.004000, 0.044500, 0.010500, -0.019000, 0.014000, -0.008500, -0.015000, -0.061500, -0.016000
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 799.96
#*# min_y = 20.0
#*# max_y = 779.96
